<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <title>
        {% block title %}
        base
        {% endblock %}
    </title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!--            <a class="navbar-brand" href="#">Navbar</a>-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link {% if request.endpoint == 'mainpage' -%}active{%- endif %}" href="/">Main page</a>
                    <a class="nav-link {% if request.endpoint == 'articles_app.list' -%}active{%- endif %}" href="/articles/">Articles</a>
                    <a class="nav-link {% if request.endpoint == 'users_app.list' -%}active{%- endif %}" href="/users/">Users</a>


                    {% if current_user.is_authenticated %}
                    <a class="nav-link" href="{{ url_for('auth_app.logout') }}">Logout ({{ current_user }})</a>
                    {% else %}
                    <a href="{{ url_for('auth_app.login') }}"
                       class="nav-link {% if request.endpoint == 'auth_app.login' -%}active{%- endif %}">
                        Login
                    </a>
                    {% endif %}


                </div>
            </div>
        </div>
    </nav>

    {% block body %}
    base
    {% endblock %}

    <footer class="text-center p-4 bg-light">
        © G@M with AI
    </footer>
</div>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

</body>
</html>